.modal {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    font-family: "STHeiti"
}

.modal-main {
    position:fixed;
    background: white;
    width: auto;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.cancelBtn {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.okBtn {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

